@model MyPortfolio.Models.Category
@{
    ViewBag.Title = "CreateCategory";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Kategori Ekleme Sayfası</h2>
<form method="post">
    @Html.TextBoxFor(x => x.CategoryID, new { @type = "hidden", @class = "form-control" })
    <label>Kategori Adı</label>
    @Html.TextBoxFor(x => x.CategoryName, new { @class = "form-control" })
    <br />
    <button class="btn btn-info">Ekle</button>
</form>
