
@{
    ViewBag.Title = "CreateTestimonial";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Yeni Referans Ekleme Sayfası</h2>
<br/>
<form method="post">
    <label>Referans Adı Soyadı</label>
    <input type="text" class="form-control"/> 
    <br/>
    <label>Referans Unvanı</label>
    <input type="text" class="form-control"/> 
    <br/>
    <label>Referans Görseli</label>
    <input type="text" class="form-control"/> 
    <br/>
    <label>Referans Yorumu</label>
    <textarea rows="5" class="form-control"></textarea>
    <br/>
    <button class="btn btn-info">Referans Ekle</button>

</form>

