
@{
    ViewBag.Title = "CreateTestimonial";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Yeni Referans Ekleme Sayfası</h2>
<br/>
<form method="post">
    <label>Referans Adı Soyadı</label>
    <input type="text" class="form-control" name="TestimonialNameSurname"/> 
    <br/>
    <label>Referans Unvanı</label>
    <input type="text" class="form-control" name="TestimonialTitle"/> 
    <br/>
    <label>Referans Görseli</label>
    <input type="text" class="form-control" name="TestimonialImageUrl"/> 
    <br/>
    <label>Referans Yorumu</label>
    <textarea rows="5" class="form-control" name="TestimonialComment"></textarea>
    <br/>
    <button class="btn btn-success">Referans Ekle</button>

</form>

@*mvc de name ifadesi işin backend tarafıyla haberleşen comuttur. Flight (frontend) kısmıyla haberleşen ise ID dir.*@