@model List<MyPortfolio.Models.MyEducation>
@{
    ViewBag.Title = "EducationIndex";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Eğitim Hayatım</h2>

<table class="table table-bordered">
    <tr>
        <th>ID</th>
        <th>Eğitim Başlığı</th>
        <th>Eğitim Hayatım</th>
        <th>Güncelle</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>@item.EducationID</td>
            <td>@item.EducationTitle</td>
            <td>@item.EducationSubTitle </td>
            <td><a href="/Education/UpdateEducation/@item.EducationID" class="btn btn-outline-success">Güncelle</a></td>
        </tr>
            }
        
    </table>
