@model MyPortfolio.Models.SocialMedia
@{
    ViewBag.Title = "UpdateSocial";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Sosyal Medya Güncelleme Sayfası</h2>
<div class="row">
    <div class="col-md-12">


        <div class="card">
            <div class="card-body">
                <form method="post">
                    @Html.HiddenFor(x => x.SocialID, new {@class = "form-control" })
                    <label>Sosyal Medya Platform Adı</label>
                    @Html.TextBoxFor(x => x.SocialName, new { @class = "form-control" })
                    <br />
                    <label>Ssoyal Medya İkonu</label>
                    @Html.TextBoxFor(x => x.SocialIcon, new { @class = "form-control" })
                    <br />
                    <label>Medya Bağlantısı</label>
                    @Html.TextBoxFor(x => x.SocialUrl,new { @class = "form-control" })
                    <br />
                    <button class="btn btn-success">Güncelle</button>
                </form>

            </div>
        </div>
    </div>
</div>

